{{> privateNavbar}}
<div class="container">
  <h1 class="text-center p-4">My Blogs</h1>
  <hr />
  <div class="d-flex flex-wrap justify-content-between">
    {{#each posts }}
      {{> techBlogCard}}
    {{/each}}
  </div>
</div>