{{> privateNavbar}}
<div class="container">
  <div class="text-center">
    <h1>{{title}}</h1>
    <h6>By {{user.username}}</h6>
    <hr />
    <div class="p-4">{{body}}</div>
  </div>
  <div>Render comment form here</div>
  <div class="my-4">
    <h2 class="text-center">Comments</h2>
    <ul class="list-group">
      {{#each comments}}
        <li class="list-group-item">
          {{> commentCard}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>